# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/

# Sanal ortam
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# Veritabanı
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
desktop.ini
Thumbs.db

# Log
*.log
